@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1174px;
}

.btn {
  width: 225px;
  height: 56px;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #e74c3c;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  border-radius: 3px;
}

.btn:hover {
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.nav-nav__close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  display: none;
}

.nav_nav__burger {
  display: none;
  width: 40px;
  height: 40px;
}

.nav_nav__burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.close-act :first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  margin-bottom: 0;
  margin-top: -1px;
}

.close-act :nth-child(2) {
  display: none;
}

.close-act :last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  margin-bottom: 0;
  margin-top: -1px;
}

.open_popup {
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.header {
  position: relative;
  padding-top: 40px;
  min-height: 100%;
  background: url("../img/header/main_icon.png") 0 0/100% 100% no-repeat;
}

.header__nav {
  min-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__slider {
  min-height: 403px;
}

.nav_nav {
  width: 730px;
  min-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_nav li {
  height: 10px;
}

.nav_nav li a:hover {
  color: #e74c3c;
}

.nav__icon-main {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 41.6px;
  text-align: left;
  text-transform: uppercase;
}

.nav-left {
  width: 52px;
  background-color: #f4f5f9;
  color: #4a4c55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-right {
  width: 99px;
  border: 3px solid #f4f5f9;
  color: #f1ebe7;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.04px;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_nav-ref {
  color: #f4f5f9;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.active-nav {
  position: relative;
  height: 53px;
}

.active-nav ::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -20px;
  left: 0;
  background-color: #e74c3c;
}

.active-nav a {
  color: #e74c3c;
  text-transform: uppercase;
}

.slider-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-top__slider1 {
  margin-top: 234px;
  width: 784px;
  min-height: 403px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-top__subtitle {
  color: #f4f5f9;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.slider-top__title {
  color: #f4f5f9;
  font-family: 'Open Sans', sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7.2px;
}

.slider-top__text {
  color: #cbc6c0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  width: 570px;
  text-align: center;
}

.transparrent-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  margin-left: 30px;
}

.slider-top__left, .slider-top__right {
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  opacity: 0.25;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  position: absolute;
  top: 435px;
  cursor: default;
}

.slider-top__left div, .slider-top__right div {
  width: 12px;
  height: 12px;
  border-top: 2px solid #303030;
  border-right: 2px solid #303030;
}

.slider-top__left div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.slider-top__right div {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider-top__left {
  left: 50px;
  padding-left: 8px;
}

.slider-top__right {
  right: 50px;
  padding-right: 8px;
}

.slider-top__right_active {
  background-color: #e74c3c;
  opacity: 1;
  color: #ffffff;
  cursor: pointer;
}

.slider-top__right_active div {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.slider-top__right_active:hover {
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.anhor {
  position: absolute;
  bottom: -4.5%;
  left: 48%;
  cursor: pointer;
  -webkit-animation: 0.5s linear 1s infinite alternate sliden;
          animation: 0.5s linear 1s infinite alternate sliden;
}

@-webkit-keyframes sliden {
  from {
    bottom: -3.5%;
  }
  to {
    bottom: -2.5%;
  }
}

@keyframes sliden {
  from {
    bottom: -3.5%;
  }
  to {
    bottom: -2.5%;
  }
}

@media only screen and (max-width: 1440px) {
  .slider-top__slider1 {
    margin-top: 150px;
  }
  .slider-top__title {
    font-size: 60px;
  }
  .slider-top__left, .slider-top__right {
    top: 400px;
  }
  .anhor {
    left: 47%;
  }
  @-webkit-keyframes sliden {
    from {
      bottom: -4%;
    }
    to {
      bottom: -3.5%;
    }
  }
  @keyframes sliden {
    from {
      bottom: -4%;
    }
    to {
      bottom: -3.5%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header__nav {
    padding: 0 50px;
  }
  .slider-top__slider1 {
    margin-top: 120px;
    min-height: 350px;
  }
  .nav__icon-main {
    height: 45px;
    font-size: 30px;
  }
  .nav-left {
    width: 45px;
  }
  .nav-right {
    width: 90px;
  }
  .slider-top__subtitle {
    font-size: 20px;
  }
  .slider-top__title {
    font-size: 50px;
  }
  .slider-top__text {
    font-size: 12px;
    line-height: 20px;
    width: 550px;
    text-align: center;
  }
  .slider-top__left, .slider-top__right {
    top: 320px;
    width: 40px;
    height: 40px;
  }
  .slider-top__left, .slider-top__right {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
  }
  .slider-top__left div, .slider-top__right div {
    width: 10px;
    height: 10px;
  }
  .anhor {
    left: 47%;
  }
  .anhor a img {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .nav_nav {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f4f5f9;
    color: #6a6a6a;
    padding: 80px 0;
    z-index: 1;
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  .nav_nav-ref {
    color: #6a6a6a;
    font-size: 14px;
  }
  .nav-nav__close {
    display: block;
  }
  .nav_nav__burger {
    display: block;
  }
  .slider-top__slider1 {
    margin-top: 80px;
    min-height: 370px;
  }
  .slider-top__subtitle {
    font-size: 18px;
  }
  .slider-top__title {
    font-size: 40px;
  }
  .slider-top__left, .slider-top__right {
    top: 280px;
    width: 35px;
    height: 35px;
  }
  .slider-top__left div, .slider-top__right div {
    width: 8px;
    height: 8px;
  }
  .slider-top__left {
    padding-left: 3px;
  }
  .slider-top__right {
    padding-right: 3px;
  }
}

@media only screen and (max-width: 425px) {
  .header__nav {
    padding: 0 30px;
  }
  .slider-top__slider1 {
    width: 300px;
    margin-top: 80px;
    min-height: 370px;
  }
  .slider-top__subtitle {
    font-size: 14px;
  }
  .slider-top__title {
    font-size: 30px;
  }
  .slider-top__text {
    font-size: 10px;
    width: 300px;
  }
  .slider-top__left, .slider-top__right {
    top: 307px;
    width: 35px;
    height: 35px;
  }
  .slider-top__left div, .slider-top__right div {
    width: 8px;
    height: 8px;
  }
  .slider-top__left {
    left: 30px;
    padding-left: 3px;
  }
  .slider-top__right {
    right: 30px;
    padding-right: 3px;
  }
  .nav__icon-main {
    height: 40px;
    font-size: 25px;
  }
  .nav-left {
    width: 35px;
  }
  .nav-right {
    width: 75px;
  }
  .nav_nav__burger {
    padding-top: 5px;
  }
  .header {
    padding-top: 20px;
  }
  .anhor {
    left: 44%;
  }
  .anhor a img {
    width: 70%;
  }
  @-webkit-keyframes sliden {
    from {
      bottom: -3.7%;
    }
    to {
      bottom: -3.5%;
    }
  }
  @keyframes sliden {
    from {
      bottom: -3.7%;
    }
    to {
      bottom: -3.5%;
    }
  }
}

@media only screen and (max-width: 320px) {
  .anhor {
    left: 44%;
  }
  .anhor a img {
    width: 60%;
  }
  @-webkit-keyframes sliden {
    from {
      bottom: -3.0%;
    }
    to {
      bottom: -2.5%;
    }
  }
  @keyframes sliden {
    from {
      bottom: -3.0%;
    }
    to {
      bottom: -2.5%;
    }
  }
  .slider-top__title {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .slider-top__left, .slider-top__right {
    top: 275px;
    width: 35px;
    height: 35px;
  }
  .slider-top__left div, .slider-top__right div {
    width: 8px;
    height: 8px;
  }
  .slider-top__left {
    left: 20px;
    padding-left: 3px;
  }
  .slider-top__right {
    right: 20px;
    padding-right: 3px;
  }
  .slider-top__slider1 {
    width: 300px;
    margin-top: 60px;
    min-height: 350px;
  }
}

.who-we-are {
  padding: 115px 5px 0 5px;
  min-height: 444px;
  border-bottom: 1px solid #e6e7eb;
}

.who-we-are__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.who-we-are__item {
  width: 249px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.who-item__image {
  width: 73px;
  height: 73px;
  border: 1px solid rgba(153, 153, 153, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

.who-item__title {
  margin-top: 10px;
  color: #6a6a6a;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.35px;
}

.who-item__sub {
  width: 41px;
  height: 1px;
  border-bottom: 2px solid #6a6a6a;
}

.who-item__text {
  color: #999999;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.9px;
}

.who-item:hover .who-item__title {
  color: #e74c3c;
}

.who-item:hover .who-item__image {
  border: 1px solid #e74c3c;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.who-item:hover .who-item__image img {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (max-width: 1024px) {
  .who-we-are {
    padding: 100px 5px 0 5px;
  }
  .who-we-are__item {
    width: 220px;
    height: 300px;
  }
  .who-we-are__block {
    padding: 0 40px 50px 40px;
  }
}

@media only screen and (max-width: 768px) {
  .who-we-are {
    padding: 80px 5px 0 5px;
  }
  .who-we-are__block {
    padding: 0 20px 50px 20px;
  }
  .who-we-are__item {
    width: 160px;
    height: 300px;
  }
}

@media only screen and (max-width: 425px) {
  .who-we-are {
    padding: 40px 5px 0 5px;
  }
  .who-we-are__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .who-we-are__item {
    width: 220px;
    height: 200px;
    margin-top: 30px;
  }
  .who-item__title {
    font-size: 14px;
  }
}

.our-history {
  min-height: 695px;
  padding: 140px 5px 0 5px;
}

.our-history__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-history__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-right__title {
  padding-left: 29px;
  color: #6a6a6a;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  border-left: 6px solid #e74c3c;
}

.our-right__text {
  width: 585px;
  min-height: 218px;
  color: #999999;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
}

.our-right__btn:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 1024px) {
  .our-history {
    padding: 80px 5px 0 5px;
    min-height: 300px;
  }
  .our-history__block {
    padding: 0 40px;
  }
  .our-history__left img {
    width: 100%;
  }
  .our-right__title {
    margin: 0 0 20px 40px;
    padding-left: 20px;
    font-size: 32px;
    letter-spacing: 3.2px;
    border-left: 5px solid #e74c3c;
  }
  .our-right__text {
    padding-left: 40px;
    width: 585px;
    min-height: 198px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
  }
  .our-right__btn {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .our-history {
    padding: 60px 5px 0 5px;
    min-height: 300px;
  }
  .our-history__block {
    padding: 0 30px;
  }
  .our-right__title {
    margin: 0 0 10px 20px;
    padding-left: 20px;
    font-size: 28px;
    letter-spacing: 3px;
    border-left: 4px solid #e74c3c;
  }
  .our-history__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .our-right__text {
    padding-left: 20px;
    width: 320px;
    min-height: 198px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 20px 0;
  }
  .our-right__btn {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .our-history {
    padding: 40px 5px 0 5px;
    min-height: 300px;
  }
  .our-history__block {
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-history__left {
    display: none;
  }
  .our-right__title {
    margin: 0 0 20px 0;
    padding-left: 0px;
    font-size: 20px;
    letter-spacing: 2px;
    border-left: 0px solid #e74c3c;
    text-align: center;
  }
  .our-right__text {
    text-align: center;
    padding-left: 0px;
    width: 400px;
    min-height: 198px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
  }
  .our-history__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .our-right__btn {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 375px) {
  .our-right__text {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .our-right__text {
    width: 290px;
  }
}

.our-services {
  background-color: #202020;
  height: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-services__left {
  margin-top: 155px;
  margin-right: 80px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  position: relative;
}

.our-services__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
}

.our-services__right img {
  width: 100%;
  height: 100%;
}

.our-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.our-left__title {
  text-align: right;
  padding-right: 29px;
  color: #f4f5f9;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  border-right: 6px solid #e74c3c;
}

.services-text-block {
  max-width: 580px;
  margin-top: 75px;
}

.services-text-block__title {
  color: #e74c3c;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: right;
  text-transform: uppercase;
}

.services-text-block__text {
  margin-top: 15px;
  margin-bottom: 65px;
  color: #999999;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
  text-align: right;
}

.our-services__right_btn {
  height: 405px;
  position: absolute;
  top: 270px;
  left: -37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-services__right .our-services__right_btn img {
  display: block;
  width: 73px;
  height: 73px;
}

.our-left__slider {
  height: 150px;
  position: absolute;
  top: 200px;
  left: 50px;
}

.our-left__slider div {
  cursor: pointer;
  width: 1px;
  height: 34px;
  background-color: #999999;
  opacity: 0.25;
  margin-top: 10px;
}

.our-left__slider-active {
  width: 2px !important;
  height: 34px !important;
  background-color: #e74c3c !important;
  opacity: 1 !important;
}

.main-title {
  padding: 150px 15px 0 15px;
}

.main-title__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-title__title {
  color: #6a6a6a;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin-bottom: 25px;
}

.main-title__text {
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  margin-bottom: 25px;
}

.study-main-title {
  background-color: #f4f5f9;
}

@media only screen and (max-width: 1440px) {
  .main-title {
    padding-top: 120px;
  }
}

@media only screen and (max-width: 1024px) {
  .main-title {
    padding-top: 80px;
  }
  .main-title__title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3.2px;
    margin-bottom: 15px;
  }
  .main-title__text {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .main-title {
    padding-top: 50px;
  }
  .main-title__title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 12px;
  }
  .main-title__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 425px) {
  .main-title {
    padding: 30px 30px 0 30px;
  }
  .main-title__title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  .main-title__text {
    font-size: 10px;
    margin-bottom: 10px;
  }
}

.portfolio-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
}

.portfolio-nav__list {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-nav__list li {
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.portfolio-nav__item:hover {
  cursor: pointer;
  color: #e74c3c;
  font-weight: 700;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.item__text {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e74c3c;
  opacity: 0.8;
  display: none;
}

.item__text-block {
  padding: 345px 0 0 50px;
}

.item__text-line {
  width: 44px;
  height: 4px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.item__text-title {
  color: #ffffff;
  font-family: "Source Sans Pro - Semibold", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
}

.item__text-subtitle {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

.portfolio {
  margin-top: 50px;
}

.portfolio__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__block-item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 476px;
          flex: 0 1 476px;
}

.portfolio__block-item:hover .item__text {
  display: block;
}

.portfolio__block-item img {
  width: 100%;
  height: 100%;
}

.case-study {
  padding: 65px 2px 0 2px;
  min-height: 939px;
  background-color: #f4f5f9;
}

.case-study__block {
  position: relative;
}

.case-study__slider {
  padding: 80px 55px 50px 55px;
  width: 665px;
  height: 629px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 46px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case-study__dot {
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case-study__dot div {
  width: 12px;
  height: 12px;
  background-color: #f4f5f9;
  border-radius: 10px;
}

.case-study__dot-active {
  background-color: #e74c3c !important;
}

.case-study__right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.study-left {
  width: 543px;
  min-height: 434px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.study-left__title {
  color: #6a6a6a;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.35px;
}

.study-left__line {
  width: 41px;
  height: 2px;
  background-color: #6a6a6a;
}

.study-left__text {
  width: 565px;
  color: #999999;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
}

.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 511px;
  background: url("../img/statistic/1.jpg") 0 0/100% 100% no-repeat;
}

.statistic__block {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistic__item {
  width: 170px;
  height: 211px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistic__number {
  margin-top: 25px;
  color: #f4f5f9;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.statistic__text {
  color: #f4f5f9;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-align: center;
}

.pricing {
  margin-top: 70px;
}

.pricing__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__item {
  width: 380px;
  min-height: 609px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing__item:hover .pricing-down__btn {
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #e74c3c;
}

.pricing__item:hover .pricing-up {
  background-color: #e74c3c;
}

.pricing__item:hover .pricing-up__number {
  color: #e74c3c;
}

.pricing-up {
  height: 205px;
  background-color: #999999;
  padding: 50px 133px 0px 133px;
}

.pricing-up__title {
  color: #ffffff;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.8px;
}

.pricing-down {
  height: 405px;
  background-color: #f4f5f9;
  padding: 125px 88px 50px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-down__list {
  width: 205px;
  height: 135px;
  color: #999999;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}

.pricing-down__btn {
  margin-top: 48px;
  width: 145px;
  height: 46px;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #999999;
}

.pricing-up {
  position: relative;
}

.pricing-up__price {
  position: absolute;
  bottom: -45%;
  left: 28%;
  width: 174px;
  height: 174px;
  background: url("../img/pricing/1.png") 0 0/100% 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-up__number {
  color: #999999;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 40px;
  font-weight: 700;
}

.pricing-up__text {
  color: #999999;
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 21.95px;
}

.our-team {
  margin-top: 143px;
  min-height: 744px;
  background: url("../img/ourTeam/1.png") 0 0/100% 100% no-repeat;
  padding: 150px 0 0 0;
}

.our-team___container {
  position: relative;
  min-height: 345px;
}

.our-team__title {
  color: #ffffff;
}

.our-team__text {
  color: #ffffff;
}

.our-team__image {
  width: 51px;
  height: 51px;
  position: absolute;
}

.our-team__image:hover {
  width: 86px;
  height: 86px;
}

.our-team__image:hover .team__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-team__image-image {
  width: 51px;
  height: 51px;
  border-radius: 50px;
  border: 3px solid #e74c3c;
}

.our-team__image-image:hover {
  width: 86px;
  height: 86px;
  border: 5px solid #e74c3c;
}

.our-team__image-image img {
  width: 100%;
  height: 100%;
}

.our-team__image-image:hover {
  position: relative;
  z-index: 1;
}

.our-team__image-image:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 50px;
  background-color: rgba(231, 76, 60, 0.5);
  z-index: 200;
}

.team1 {
  bottom: 0;
  left: 0;
}

.team2 {
  bottom: 50px;
  left: 295px;
}

.team3 {
  bottom: 53px;
  left: 48%;
}

.team4 {
  bottom: 15px;
  right: 295px;
}

.team5 {
  bottom: 65px;
  right: 0;
}

.team1:hover {
  bottom: -10px;
}

.team2:hover {
  bottom: 35px;
}

.team3:hover {
  bottom: 35px;
}

.team4:hover {
  bottom: 0px;
  right: 280px;
}

.team5:hover {
  bottom: 45px;
  right: 0;
}

.team__hover {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 -27px;
  position: relative;
  pointer-events: none;
  display: none;
}

.team__hover::before {
  content: '';
  width: 1px;
  height: 53px;
  background-color: #ffffff;
  opacity: 0.75;
}

.team__title {
  margin: 30px 0 0 0;
  color: #e74c3c;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.8px;
  letter-spacing: 1.8px;
}

.team__text {
  margin: 15px 0 0 0;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 23.99px;
  text-align: center;
  letter-spacing: 1.4px;
}

@media only screen and (max-width: 1440px) {
  .team1 {
    bottom: -55px;
    left: 0;
  }
  .team2 {
    bottom: 40px;
    left: 295px;
  }
  .team4 {
    bottom: 20px;
  }
  .team5 {
    bottom: 150px;
    right: 20px;
  }
  .team1:hover {
    bottom: -60px;
  }
  .team3:hover {
    bottom: 35px;
  }
  .team5:hover {
    bottom: 120px;
    right: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .btn {
    width: 200px;
    height: 46px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px) {
  .btn {
    width: 130px;
    height: 30px;
    font-size: 10px;
    border-radius: 2px;
  }
}

@media only screen and (max-width: 320px) {
  .btn {
    width: 100px;
    height: 25px;
    font-size: 10px;
    font-weight: 400;
    border-radius: 2px;
  }
}
