.main-title {
	padding: 150px 15px 0 15px;

    &__block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
    }

    &__title {
        color: #6a6a6a;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
		letter-spacing: 3.6px;
		margin-bottom: 25px;
    }

    &__text {
		color: #999999;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 29px;
		text-align: center;
		margin-bottom: 25px;
    }
}
.study-main-title{
	background-color: #f4f5f9;
}


@media only screen and (max-width: 1440px) {
	.main-title {
		padding-top: 120px;
	}
	
}

@media only screen and (max-width: 1024px) {
	.main-title {
		padding-top: 80px;
	}
	.main-title__title {
		font-size: 32px;
		font-weight: 700;
		letter-spacing: 3.2px;
		margin-bottom: 15px;
	}
	.main-title__text {
		font-size: 12px;
		line-height: 25px;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 768px) {
	.main-title {
		padding-top: 50px;
	}
	.main-title__title {
		font-size: 28px;
		font-weight: 700;
		letter-spacing: 3px;
		margin-bottom: 12px;
	}
	.main-title__text {
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 12px;
	}
}

@media only screen and (max-width: 425px) {
	.main-title {
		padding: 30px 30px 0 30px;
	}
	.main-title__title {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 2px;
		margin-bottom: 10px;
	}
	.main-title__text {
		font-size: 10px;
		margin-bottom: 10px;
	}
}
