.main-title {
	padding-top: 150px;
    &__block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
    }

    &__title {
        color: #6a6a6a;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 36px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
		letter-spacing: 3.6px;
		margin-bottom: 25px;
    }

    &__text {
		color: #999999;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 29px;
		text-align: center;
		margin-bottom: 25px;
    }
}
.study-main-title{
	background-color: #f4f5f9;
}


@media only screen and (min-width: 1950px) and (max-width: 2560px){
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 320px) {
}