.our-services {
	background-color: #202020;
    height: 768px;
	display: flex;
	justify-content: center;
    &__left {
		margin-top: 145px;
		margin-right: 80px;
		// margin-bottom: 145px;
		flex: 1 0 50%;
		position: relative;
    }

    &__right {
		flex: 1 1 50%;
		position: relative;
	}
	&__right img{
		width: 100%;
		height: 100%;
    }
}
.our-left {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
    &__title {
		text-align: right;
        padding-right: 29px;
        color: #f4f5f9;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
		letter-spacing: 3.6px;
		border-right: 6px solid #e74c3c;
    }

}
.services-text-block {
	max-width: 580px;
	margin-top: 75px;
    &__title {
		color: #e74c3c;
		font-family: "Open Sans - Semibold", sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 29px;
		text-align: right;
		text-transform: uppercase;
    }

    &__text {
		margin-top: 8px;
		margin-bottom: 60px;
		color: #999999;
		font-family: "Open Sans - Semibold", sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 29px;
		text-align: right;
    }
}
.our-services__right_btn{
	height: 390px;
	position: absolute;
	top: 260px;
	left: -37px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.our-services__right .our-services__right_btn img{
	display: block;
	width: 73px;
	height: 73px;
}
.our-left__slider{
	height: 150px;
	position: absolute;
	top: 200px;
	left: 50px;
}
.our-left__slider div{
	cursor: pointer;
	width: 1px;
	height: 34px;
	background-color: #999999;
	opacity: 0.25;
	margin-top: 10px;
}
.our-left__slider-active{
	width: 2px !important;
	height: 34px !important;
	background-color: #e74c3c !important;
	opacity: 1 !important;
}

@media only screen and (min-width: 1950px) and (max-width: 2560px){
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1024px) {
	.our-services__left {
		margin-top: 60px;
		margin-right: 60px;
	}
	.our-services {
		background-color: #202020;
		height: 550px;
		margin-top: 60px;
	}
	.our-left__title {
		text-align: right;
		padding-right: 29px;
		color: #f4f5f9;
		font-size: 32px;
		letter-spacing: 3.6px;
		border-right: 4px solid #e74c3c;
	}
	.services-text-block__title {
		font-size: 16px;
	}
	.services-text-block__text {
		margin-top: 5px;
		margin-bottom: 40px;
		font-size: 12px;
	}
	.services-text-block {
		max-width: 400px;
		margin-top: 45px;
	}
	.our-services__right_btn {
		height: 340px;
		position: absolute;
		top: 140px;
		left: -37px;
	}
	
	.our-left__slider {
		height: 100px;
		position: absolute;
		top: 150px;
		left: 50px;
	}
}

@media only screen and (max-width: 768px) {
	.our-services__right img{
		display: none;
	}
	.our-services__right {
		flex: 0 0 0%;
	}
	.our-left__title {
		text-align: right;
		padding-right: 29px;
		color: #f4f5f9;
		font-size: 28px;
		letter-spacing: 3.6px;
		border-right: 3px solid #e74c3c;
	}
	.services-text-block {
		max-width: 400px;
		margin-top: 20px;
	}
	.services-text-block__text {
		margin-top: 5px;
		margin-bottom: 20px;
		font-size: 12px;
	}
	.our-services__right_btn {
		height: 340px;
		position: absolute;
		top: 450px;
		left: -400px;
		display: flex;
		width: 340px;
		transform: rotate(90deg);
	}
	.our-services__right_btn img {
		transform: rotate(-90deg);
	}
}

@media only screen and (max-width: 425px) {
	.our-left__title {
		text-align: right;
		padding-right: 20px;
		color: #f4f5f9;
		font-size: 20px;
		letter-spacing: 3.6px;
		border-right: 2px solid #e74c3c;
	}
	.services-text-block__text {
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: 10px;
	}
	.our-services__left {
		margin-top: 40px;
		margin-right: 40px;
	}
	.services-text-block {
		max-width: 300px;
		margin-top: 20px;
	}
	services__right_btn img {
		display: block;
		width: 73px;
		height: 73px;
	}
	.our-services__right .our-services__right_btn img {
		width: 60px;
		height: 60px;
	}
	.our-services__right_btn {
		height: 300px;
		position: absolute;
		top: 490px;
		left: -360px;
		display: flex;
		width: 340px;
		transform: rotate(90deg);
	}
	.our-services {
		background-color: #202020;
		height: 570px;
	}

}

@media only screen and (max-width: 375px) {
	.our-left__slider {
		height: 100px;
		position: absolute;
		top: 150px;
		left: 30px;
	}
}
@media only screen and (max-width: 320px) {
	.our-left__slider {
		height: 100px;
		position: absolute;
		top: 150px;
		left: 20px;
	}
	.our-services__left {
		margin-top: 20px;
		margin-right: 20px;
	}
	.our-services__right_btn {
		height: 250px;
		position: absolute;
		top: 500px;
		left: -320px;
		display: flex;
		width: 340px;
		transform: rotate(90deg);
	}
	.our-services__right .our-services__right_btn img {
		width: 50px;
		height: 50px;
	}
	.our-services {
		background-color: #202020;
		height: 530px;
	}
}